<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Joe's Sezzle Calculator</title>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/calculator.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
